<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>go:embed demo</title>
</head>
<body>
  <div class="widget">
    <h3 class="name">{{.Name}}</h3>
    <span class="price">${{.Price}}</span>
  </div>
</body>
</html>
