{{template "layout" .}}

{{define "title"}}Good Random Tech Questions{{end}}

{{define "main"}}
  <p contenteditable="true" onclick="document.execCommand('selectAll', false, null)">{{ .Body }}</p>
{{end}}

{{define "permalink"}}
  <a class="permalink" href="/q/{{ .ID }}">🔗</a>
{{end}}
