{{define "layout"}}
<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>{{template "title" .}} - TechQ</title>
    <link rel='stylesheet' href='/static/style.css'>
  </head>
  <body>
    <main>
      {{template "main" .}}
    </main>
  </body>
</html>
{{end}}
